<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>
            first
        </servlet-name>
        <servlet-class>com.servlets.fristservlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            second
        </servlet-name>
        <servlet-class>com.servlets.secondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            http
        </servlet-name>
        <servlet-class>com.servlets.httpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            from
        </servlet-name>
        <servlet-class>com.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            success
        </servlet-name>
        <servlet-class>com.servlets.successServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myservlet1</servlet-name>
        <servlet-class>myservlet.myservlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet2</servlet-name>
        <servlet-class>myservlet.servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/web</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/second</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>http</servlet-name>
        <url-pattern>/http</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>from</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> success</servlet-name>
        <url-pattern>/successServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myservlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
